.editProfileBox {
  margin: 2rem 1rem 2rem 1rem;
}

.editProfileNavtab {
  height: 4rem;
}

.labelText {
  color: red;
}

/* .editProfileBackground {
  background-color: black;
}

.editProfileTabBackground {
  background-color: black;
}

.editProfileBox {
  background-color: black !important;
}

.realBack {
  background-color: black;
} */
